.landing-page .header-back {
    background-size: cover !important;
}

.mainbuttons .col-sm-4>a {
    text-align: center;
    border-radius: 25px;
    border: 1px solid #000;
    margin: 2%;
    display: block;
    color: #1ab394;
}

.mainbuttons .navy-line {
    margin-top: 0;
}

.mainbuttons .services {
    padding-top: 30px;
}
.mainbuttons .row {
    margin-bottom: 30px;
}

.mainbuttons .fa {
    font-size: 6em;
    text-align: center;
    color:#1ab394;
}



@media (max-width: 375px) {
    /*.mainbuttons .col-sm-4>a {
        width: 180px;
        height: 180px;
    }*/
  .landing-page .header-back {
    height: 310px;
  }
  .landing-page .carousel .item {
      height: 310px;
  }
  .landing-page .carousel {
      height: 320px;
  }
  .mainbuttons h2 {
      font-size: 17px;
  }
  .landing-page .services {
      padding-top: 20px;
  }
}

@media (min-width: 376px) AND (max-width: 768px) {
  .landing-page .header-back {
    height: 470px;
  }
}

@media (min-width: 768px) AND (max-width: 768px) {
  .landing-page .header-back {
    height: 470px;
  }
  .landing-page .navbar-default {
      background-color: transparent;
      border-color: transparent;
  }
  .landing-page .navbar-wrapper .navbar {
      padding: 0;
  }
  .landing-page .navbar-default .nav li a,
  .landing-page .navbar-default .navbar-nav > .active > a,
  .landing-page .navbar-default .navbar-nav > .active > a:hover{
      color: #fff;
  }
}

@media (min-width: 1025px) {
    
   .landing-page .header-back {
        height: 600px;
    }
  
    .landing-page .services {
        background-color: rgba(255,255,255,1);
        position: relative;
    }
}