.landing-page .header-back {
    background-size: cover !important;
}

.mainbuttons .col-sm-4>a {
    text-align: center;
    /*border-radius: 25px;
    border: 1px solid #000;
    margin: 2%;*/
    display: block;
    color: #fff;
    
}

.mainbuttons .col-sm-4>a h2 {
    margin: 14% 0;
}

.mainbuttons .navy-line {
    margin-top: 0;
}

.mainbuttons .services {
    padding-top: 30px;
}
.mainbuttons .row {
    margin-bottom: 30px;
}

.mainbuttons .fa {
    font-size: 8em;
    text-align: center;
    color:#fff;
}
.mainbuttons .col-lg-3 {
    padding-bottom: 3%;
}
.landing-page .btn-primary.btn-xxl {
    width: 100%;
    height: 0;
    padding-bottom: 93%;
    border-radius: 50%;
}

.landing-page .services {
    margin-top: 60px;
}

.home.landing-page .services {
    background: #fff;
    position: relative;
    margin-top: 0;
}

.deals.landing-page .jumbotron {
    padding: 30px;
    padding-right: 0;
    float: left;
    
}

.deals.landing-page .pull-right {
    padding-right: 0;
}

.deals.landing-page .pull-right {
    padding-right: 0;
    margin-top: -15px;
    margin-bottom: -15px;
}

.landing-page section p {
    color: #222;
}

.star-six { 
    width: 0; 
    height: 0;
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent; 
    border-bottom: 100px solid red; 
    position: relative; 
} 
.star-six:after { 
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent; 
    border-top: 100px solid red;
    position: absolute; 
    content: ""; 
    top: 30px; 
    left: -50px; 
}
.star-six .star-price{
    color: #fff;
    margin: 44px -9px;
    position: absolute;
    z-index: 9999;
}

.landing-page .carousel-indicators {
    padding-right: 0;
}

@media (max-width: 375px) {
    /*.mainbuttons .col-sm-4>a {
        width: 180px;
        height: 180px;
    }*/
  .landing-page .header-back {
    height: 310px;
  }
  .landing-page .carousel .item {
      height: 310px;
  }
  .landing-page .carousel {
      height: 320px;
  }
  .mainbuttons h2 {
      font-size: 17px;
  }
  .landing-page .services {
      padding-top: 20px;
  }
  
  .mainbuttons .fa {
    font-size: 5em;
  }
  
  .mainbuttons .col-sm-4>a h2 {
      font-size: 1.2em;
  }
  .btn-primary.btn-xxl p i.fa {
      font-size: 65px;
  }
}

@media (min-width: 376px) AND (max-width: 768px) {
  .landing-page .header-back {
    height: 470px;
  }
}

@media (min-width: 768px) AND (max-width: 768px) {
  .landing-page .header-back {
    height: 470px;
  }
  .landing-page .navbar-default {
      background-color: transparent;
      border-color: transparent;
  }
  .landing-page .navbar-wrapper .navbar {
      padding: 0;
  }
  .landing-page .navbar-default .nav li a,
  .landing-page .navbar-default .navbar-nav > .active > a,
  .landing-page .navbar-default .navbar-nav > .active > a:hover{
      color: #fff;
  }
}

@media (min-width: 1025px) {
    
   .landing-page .header-back {
        height: 600px;
    }
  
    
}