/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 7, 2016, 3:04:47 PM
    Author     : Pieter
*/

.wizard > .content {
    overflow: visible;
}

form.wizard {
    overflow: visible;
}

#wrapper {
    overflow: visible;
}

.topLogo {
    max-height: 35px;
    margin-bottom: 20px;
}

.wizard-big.wizard > .content {
    min-height: 300px;
}

.sidebar-container .nav a {
    color: #999c9e;

}
.sidebar-container .nav a > .fa.arrow:before {
    content: "\f107";
}
.sidebar-container .nav a.collapsed > .fa.arrow:before {
    content: "\f104";
}

#category_info .todo-completed {
    text-decoration: none;
}

.check-link span {
    font-size: 14px;
}

.landing-page .services {
    background: rgba(255,255,255,0.9);
}

.ibox-content .text-center.p-lg h2 {
    margin-bottom: 30px;
}

.colorpicker-element {
    max-width: 250px;
}

.landing-page .carousel .item {
    height: 0;
}


@media (min-width: 1200px) {
    .modal-dialog.modal-lg {
        width: 80%;
    }
}

@media(max-width: 1024px) {
    .btn-primary.btn-xxl {
        width: 125px;
        height: 125px;
        
    }
    .btn-primary.btn-xxl h2 {
        font-size: 16px;
        margin-top: 24px;
    }
    
    .btn-primary.btn-xxl p i.fa {
        font-size: 36px;
    }
    .places .container {
        width: 100%;
    }
    .places .wrapper {
        padding: 20px 0 0;
    }
    
    .places #features {
        padding: 0;
    }
    .places .ibox-content {
        padding: 0;
        margin-top: 30px;
    }
    
    .places .container>.row {
        display: none;
    }
    
    .places .container .map .ibox-title {
        display: none;
    }
    .hidden-md {
        display: none;
    }
    
    .google-map {
        height: calc(100vh - 45px);
    }
    
    
}